.audience {
    padding: 50px 15px;
    background-color: #00a1c612;

    @include for-large-up {
        padding-top: 108px;
        padding-bottom: 110px;
    }

    &__descr {
        @include for-large-up {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 555px;
            margin: auto;
        }
    }

    &__sub-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        margin: 0;

        @include for-large-up {
            margin-bottom: 24px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        margin-top: 17px;
        margin-bottom: 0;

        @include for-large-up {
            font-weight: 700;
            font-size: 56px;
            line-height: 56px;
            width: 555px;
            margin: auto;
            letter-spacing: -0.5px;
        }
    }

    &__text {
        margin-top: 18px;
        font-size: 24px;
        line-height: 34px;
        text-align: center;

        @include for-large-up {
            margin-top: 30px;
            margin-bottom: 0;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        :last-child {
            margin-top: 12px;
            color: #000000;
        }

        @include for-large-up {
            flex-direction: row;
            margin-top: 34px;

            :last-child {
              margin-top: 0;
            }
        }
    }

    &__action-btn {
        @include for-large-down {
            width: 100%;
        }

        @include for-large-up {
            :last-child {
                margin-left: 10px;
                width: 158px;
            }
        }
    }

    &__cards {
        margin-top: 40px;
        @include for-large-up {
            display: flex;
            justify-content: center;
            margin-top: 111px;
        }
    }
}

.card-wrapper {
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 1e-5) 100%
        ),
        #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 300px;
    max-width: 290px;
    margin: auto;
    margin-top: 15px;

    &:hover {
        background: #3141c5;
        box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
            0px 11px 55px rgba(0, 0, 0, 0.07);
        color: white;
    }

    @include for-large-up {
        width: 262px;
        margin-top: 0;
        margin-left: 30px;
        margin-right: 0;
        :first-child {
        }
    }

    &__image {
        display: block;
        margin: auto;
        padding-top: 22px;
    }

    &__title {
        padding-top: 22px;
        text-align: center;
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }
}
